.top_div {
    background-color: slateblue;
    padding: 50px;
}

.div1 {
    width: 90%;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-left: 100px;
    margin-top: -20px;
}